@mixin respond($breakpoint) {
    @if $breakpoint == phone-sm {
        @media only screen and (max-width: 34.4em ) { @content }; // 550px / 16em
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em ) { @content }; // 600px / 16em
    }
    @if $breakpoint == tab-less {
        @media only screen and (max-width: 46.87em) { @content }; // 750px / 16em
        // @media (max-width: 900px) { @content }; // 900px / 16em
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px / 16em
        // @media (max-width: 900px) { @content }; // 900px / 16em
    }
    @if $breakpoint == tab-between {
        @media only screen and (max-width: 68.75em) { @content }; // 1100 / 16rem
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 70em) { @content }; // 1200px / 16em
        // @media (max-width: 50em) { @content }; // 1200px / 16em
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; // 1800px / 16em
    }
    
}

@mixin old-sheet {
    position: relative;
    z-index: 10;
    padding: 4.5rem;
    margin-bottom: 5rem;

    background-color: transparent;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        
        height: 100%;
        width: 100%;
        color: transparent;

     
        border-top: $lighter-border-side-1;
        border-left: $lighter-border-side-1;;
        border-bottom: $dark-border-side-2;
        border-right: $dark-border-side-2;
        background-image: linear-gradient(to right, rgba( $color-primary-dark, 0.3), rgba( rgb(15, 100, 15), 0.1));
        
        z-index: -2;
        filter: url(#wavy);
    }
}

@mixin box-cutout {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
            
    height: 97%;
    width: 100%;

    background-color: #010c04;

    border-top: $dark-border-side-10;
    border-left: $dark-border-side-10;
    border-bottom: $light-border-side-1;
    border-right: $lighter-border-side-1;
}

@mixin box-cutout--rough {
    @include box-cutout();
    
    z-index: -2;
    filter: url(#wavy);
}

@mixin box-cutout--fine {
    @include box-cutout();
    
    z-index: -2;
    filter: url(#wavy-fine);
}

@mixin broken-3d-gap {
    &::before {
        @include box-cutout--rough;
        width: 120vw;
        background-image: none;
        border-top: 5px solid rgba(darken($palette1-color-3, 70%), 1);
        border-top: 5px solid darken($palette1-color-3, 43%);
        border-left: none; 
        border-bottom: 5px solid darken($palette1-color-3, 25%);
        border-right: none; 
        box-shadow:         0px   0px  0px rgba(darken($palette1-color-3, 0), 0), 
                    inset  10px  15px 15px rgba(darken($palette1-color-3, 40%), 1), 
                            0px   0px  0px rgba(darken($palette1-color-3, 0), 0),
                    inset  -8px -10px 15px rgba(darken($palette1-color-3, 30%), 1);
                    

    }
}


@mixin neumorph-pressed {
                box-shadow: -5px -5px 10px 1px rgba(255, 255, 255, 0.3), 
                            inset -5px -5px 5px 1px $color-white_0_1,
                             5px 5px 10px 5px $color-black_0_4, 
                             inset 5px 5px 5px 1px $color-black_0_2;                

}
@mixin neumorph {
    box-shadow:       -15px -15px 15px $color-white_0_1,
                inset  15px  15px 15px $color-white_0_1,
                       15px 15px 15px $color-black_0_2,
                inset  -15px  -15px 15px $color-black_0_2;

}

@mixin no-animation {
    &:hover {
        &::before {
            animation: none;
        }
    }
    &:not(hover) {
        &::before {
            animation: none;
        }
    }
}