.story {
    @include neumorph-pressed ;

    background-color: rgba($color-white, .09);

    width: 75%;
    margin: 0 auto;
    border-radius: 45px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        // display: flex;
        // flex-direction: column;
        padding: 4rem;
        padding-left: 7rem;
        width: 100%
    }

    @include respond(phone){

        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        background-color: #0F1110;;
        background-size: cover;
        
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        @include respond(tab-port){
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
    
            -webkit-clip-path: circle(40% at 50% 50%);
            clip-path: circle(40% at 50% 50%);
        }

        transform: translateX(-3rem) skewX(12deg);

        position: relative;

        @include respond(phone){
            transform:   translateX(-3rem) skewX(0);
        }

    }
    
    &__img {
        height: 100%;
        transition: all .3s;
        transform: translateX(2.5rem) scale(1.5);
        background-color: #0F1110;;
    }

    &__text {
        font-size: 1.7rem;
        font-family: sans-serif;
        line-height: 1.6;
        transform: skewX(12deg);
        @include respond(phone){
            transform: skew(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,20%);
        color: $palette1-color-2;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight:  700;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(2.5rem) scale(1.4);
        filter: blur(3px) brightness(80%);
    }
}
